# ====== ИИ МОДЕЛЬ ======
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_MODEL=deepseek-chat

# ====== ТЕЛЕГРАМ БОТ ======
TELEGRAM_TOKEN=your_token_dot_here
TELEGRAM_ADMIN_ID=your_ID_Admin_here

# ====== WHATSAPP API ======
WA_TOKEN=your_whatsapp_token_here
WA_PHONE_NUMBER_ID=your_phone_number_id
WA_VERIFY_TOKEN=your_webhook_verify_token
WA_PORT=8001

# ====== GOOGLE SHEETS ======
CREDS_PATH=./creds.json
SPREADSHEET_NAME=BarBershop client

# ====== ЛОГИРОВАНИЕ ======
LOG_LEVEL=INFO
LOG_FILE=./logs/app.log

# ====== ОКРУЖЕНИЕ ======
ENVIRONMENT=development
DEBUG=True

# ====== БИЗНЕС-ЛОГИКА ======
BUSINESS_NAME=Барбершоп
BUSINESS_TIMEZONE=Asia/Bishkek
BOOKING_BUFFER_MINUTES=30
ENABLE_TELEGRAM=True
ENABLE_WHATSAPP=True
